*{
    box-sizing: border-box;
}
body{
    color: white;
    margin-bottom: 2rem;
    font-family: "Roboto",serif;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 44%, rgba(0,0,57,1) 100%); 
}
a{
    text-decoration: none;
}
#overlay{
    display: none;
    visibility: collapse;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#overlay button{
    cursor: pointer;
}
.over-div{
    border: 1px solid white;
    padding: 2rem;
    background-color: black;
}
.over-div .atention-span{
    font-size: large;
    color: red;
}
.newtab-button{
    display: flex;
    justify-content: center;
}
.newtab-svg{
    height: 1.5rem;
    color: white;
    padding-left: 0.5rem;
}
.logo{
    width: 5rem;
    font-size: 3rem;
    height: 5rem;
    text-align: center;
    color: white;
    text-shadow: 5px 5px rgb(0, 0, 181);
}
.header-main .middle{
    font-size: larger;
    font-weight: 400;
    text-shadow: 1px 1px 2px white;
}
.header-section{
    width: 100vw;
    height: 9vh;
    position: sticky;
    z-index: 98;
}
.header-main{
    box-shadow: 0px 3px 5px hsla(0, 0%, 0%, 0.7);
    border-radius: 1px;
    height: 100%;
    background-color: transparent;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-main .right{
    margin-right: 2rem;
}
/* main h1,p {
    font-family: "Roboto", serif;
} */
main h1{
    text-align: center;
    padding: 2rem;
}
main .title {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}
main p {
    font-weight: 700;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: larger;
}
main .atention-span{
    color: yellow;
    font-size: xx-large;
    font-weight: 800;
}
main .video-container{
    width: 100vw;
    height: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
main .video-div{
    display: inline-block;
    position: relative;
    text-align: center;
}

footer{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-bottom: 0;
    padding-top: 5rem;
}
footer .certificates{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
footer .copyright p{
    font-size: small;
    color: rgba(169, 169, 169, 0.403);
}

footer img{
    height: 8rem;
}

.pause-overlay{
    position: absolute;
    background-color: gray;
    opacity: 0%;
    z-index: 5;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: grid;
    place-items: center;
    transition: all ease-out;
    &:hover{
        opacity: 60%;
    }
}
.paused{
    opacity: 80%;
}

main .video-div video{
    /* box-shadow: 2px 2px 3px 5px rgba(255,255,255,0.4); */
    /* border: 2px solid white; */
    box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.8);
    width: 55rem;
    height: 100%;
}
main .purchase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-right: 6rem;
}
main .purchase .old{
    padding-left: 2.7rem;
    text-decoration: line-through;
    color: rgba(255, 0, 0, 0.7);
}
main .purchase p{
    font-size: 24px !important;
    /* color: yellow; */
}
main .button-64{
    margin-top: 1rem;
    font-size: 33px;
}
main .discount {
    text-align: center;
    font-size: 18px;
    margin-top: 0.2rem;
    color: rgba(255,255,255,0.8);
}

/* BUTTON */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#4063ff, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}